<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.will.mapper.AlbumMapper">
    <insert id="insertBatch">
      INSERT INTO t_album(id,title,cover_img,play_times) VALUES
      <foreach collection="albums" separator="," item="album">
          (#{album.id},#{album.title},#{album.cover},#{album.hot})
      </foreach>
    </insert>

    <select id="selectByPrimaryKey" parameterType="int" resultType="Album">
        SELECT
          a.id,
          a.title
        FROM t_album a
        WHERE a.id = #{id}
    </select>

    <select id="listAlbumMusicByArtistId" resultMap="AlbumMusicResultMap">
        SELECT
          a.*
          <if test="user != null">
              , ufm.favorite
          </if>
        FROM
        (
            SELECT
                m.id AS music_id,
                m.title AS music_title,
                m.duration,
                am.album_id,
                ab.title AS album_title,
                ab.cover_img,
                a.id AS artist_id
            FROM
                t_music m,
                t_artist a,
                t_album_music am,
                t_album ab
            WHERE
                m.artist_id = a.id
            AND am.music_id = m.id
            AND ab.id = am.album_id
            AND a.id = #{artistId}
        ) a
        <if test="user != null">
        LEFT OUTER JOIN (
          SELECT
            1 AS favorite,
            music_id,
            user_id
          FROM
            t_user_favorite_music
        ) ufm ON ufm.music_id = a.music_id
        AND ufm.user_id = #{user.id};
        </if>
    </select>
    <resultMap id="AlbumMusicResultMap" type="cn.will.vo.AlbumVO">
        <result column="album_title" property="title"/>
        <result column="cover_img" property="coverPic"/>
        <collection property="musics" column="album_id" ofType="cn.will.vo.AlbumMusicVO">
            <id column="music_id" property="id"/>
            <result column="favorite" property="favorite"/>
            <result column="music_title" property="title"/>
            <result column="duration" property="duration"/>
        </collection>
    </resultMap>

    <select id="listAlbumMusicByAlbumId" parameterType="int" resultType="MusicResultVO">
        SELECT
          a.*
        <if test="user != null">
        , ufm.favorite
        </if>
        FROM
        (
          SELECT
            am.album_id AS albumId,
            am.music_id AS musicId,
            m.title AS title,
            ab.title AS album,
            a.id AS artistId,
            a.artist_name AS artist,
            m.duration
          FROM
              t_album_music am
          LEFT JOIN t_music m ON m.id = am.music_id
          LEFT JOIN t_album ab ON ab.id = am.album_id
          LEFT JOIN t_artist a ON a.id = m.artist_id
          WHERE
            am.album_id = #{albumId}
        ) a
        <if test="user != null">
        LEFT OUTER JOIN (
            SELECT
                1 AS favorite,
                music_id,
                user_id
            FROM
                t_user_favorite_music
        ) ufm ON ufm.music_Id = a.musicId
        AND ufm.user_id = #{user.id}
        </if>
    </select>
</mapper>