<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.will.mapper.MusicMapper">

    <select id="listNewestMusic" resultType="MusicResultVO">
        SELECT
          m.id AS musicId,
          m.title,
          a.artist_name AS artist,
          ab.title AS album,
          a.id AS artistId,
          ab.id AS albumId,
          m.duration
        FROM t_music m,t_artist a,t_album_music am,t_album ab
        WHERE m.artist_id = a.id AND am.music_id = m.id AND ab.id = am.album_id
        ORDER BY m.play_times DESC LIMIT 20
    </select>

    <select id="searchMusicByTitle" resultType="MusicResultVO">
        SELECT
            a.*
        <if test="user != null">
            , ufm.favorite
        </if>
        FROM
            (
                SELECT
                    m.id AS musicId,
                    m.title,
                    a.artist_name AS artist,
                    ab.title AS album,
                    m.duration,
                    a.id AS artistId,
                    ab.id AS albumId
                FROM
                    t_music m
                LEFT JOIN t_artist a ON a.id = m.artist_id
                LEFT JOIN t_album_music am ON am.music_id = m.id
                LEFT JOIN t_album ab ON ab.id = am.album_id
                WHERE
                    m.title LIKE #{keyword}
                LIMIT 20
            ) a
            <if test="user != null">
        LEFT OUTER JOIN (
            SELECT
                1 AS favorite,
                music_id,
                user_id
            FROM
                t_user_favorite_music
        ) ufm ON ufm.music_id = a.musicId
        AND ufm.user_id = #{user.id}
            </if>
    </select>

    <select id="searchMusicByArtist" resultType="MusicResultVO">
        SELECT
            a.*
        <if test="user != null">
            ,ufm.favorite
        </if>
        FROM
            (
                SELECT
                    m.id AS musicId,
                    m.title,
                    a.artist_name AS artist,
                    a.id AS artistId,
                    ab.id AS albumId,
                    ab.title AS album,
                    m.duration
                FROM
                    t_artist a
                LEFT JOIN t_music m ON a.id = m.artist_id
                LEFT JOIN t_album_music am ON am.music_id = m.id
                LEFT JOIN t_album ab ON ab.id = am.album_id
                WHERE
                    a.artist_name LIKE #{keyword}
                ORDER BY m.play_times DESC
            ) a
        <if test="user != null">
        LEFT OUTER JOIN (
            SELECT
                1 AS favorite,
                music_id
            FROM
                t_user_favorite_music
            WHERE
                user_id = #{user.id}
        ) ufm ON ufm.music_id = a.musicId
        </if>
    </select>

    <select id="searchMusicByAlbum" resultType="MusicResultVO">
        SELECT
            a.*
            <if test="user != null">
            , ufm.favorite
            </if>
        FROM
            (
                SELECT
                    m.id AS musicId,
                    m.title,
                    a.artist_name AS artist,
                    a.id AS artistId,
                    ab.id AS albumId,
                    ab.title AS album,
                    m.duration
                FROM
                    t_album ab
                LEFT JOIN t_album_music am ON am.album_id = ab.id
                LEFT JOIN t_music m ON am.music_id = m.id
                LEFT JOIN t_artist a ON a.id = m.artist_id
                WHERE
                    ab.title LIKE #{keyword}
                ORDER BY
                    m.play_times
            ) a
        <if test="user != null">
        LEFT OUTER JOIN (
            SELECT
                1 AS favorite,
                music_id
            FROM
                t_user_favorite_music
            WHERE
                user_id = #{user.id}
        ) ufm ON ufm.music_id = a.musicId
        </if>
    </select>

    <select id="searchMusicByPlaylist" resultType="MusicResultVO">
        SELECT
            a.*
        <if test="user != null">
            , ufm.favorite
        </if>
        FROM
            (
                SELECT
                    m.id AS musicId,
                    m.title,
                    a.artist_name AS artist,
                    a.id AS artistId,
                    pl.id AS albumId,
                    pl.title AS album,
                    m.duration
                FROM
                    t_play_list pl
                LEFT JOIN t_play_list_music plm ON plm.play_list_id = pl.id
                LEFT JOIN t_music m ON plm.music_id = m.id
                LEFT JOIN t_artist a ON a.id = m.artist_id
                WHERE
                    pl.title LIKE #{keyword}
                ORDER BY
                    m.play_times
            ) a
        <if test="user != null">
            LEFT OUTER JOIN (
            SELECT
            1 AS favorite,
            music_id
            FROM
            t_user_favorite_music
            WHERE
            user_id = #{user.id}
            ) ufm ON ufm.music_id = a.musicId
        </if>
    </select>

    <insert id="insertBatch">
        INSERT INTO t_music
        (id,title,artist_id,`language`,publish_time,lyric,play_times,duration,cover_img) VALUES
        <foreach collection="musics" item="music" separator=",">
            (#{music.id},#{music.title},#{music.artistId},#{music.language},#{music.publishTime},#{music.lyric},
            #{music.hot},#{music.duration},#{music.cover})
        </foreach>
    </insert>

    <insert id="insertBatchMusicAlbum">
        INSERT INTO t_album_music(album_id,music_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.albumId},#{item.musicId})
        </foreach>
    </insert>

    <insert id="insertPlaylistMusic">
        INSERT INTO t_play_list_music(music_id,play_list_id) VALUES
        (#{musicId},#{playlistId})
    </insert>

    <select id="listPlaylistMusicById" resultType="MusicResultVO">
        SELECT
            a.*
            <if test="user != null">
                , ufm.favorite
            </if>
        FROM
            (
                SELECT
                    plm.music_id AS musicId,
                    m.title,
                    m.duration,
                    a.artist_name AS artist,
                    a.id AS artistId,
                    ab.id AS albumId,
                    ab.title AS album
                FROM
                    t_play_list_music plm
                LEFT JOIN t_music m ON m.id = plm.music_id
                LEFT JOIN t_artist a ON a.id = m.artist_id
                LEFT JOIN t_album_music am ON am.music_id = plm.music_id
                LEFT JOIN t_album ab ON ab.id = am.album_id
                WHERE
                    plm.play_list_id = #{playlistId}
            ) a
        <if test="user != null">
        LEFT JOIN (
            SELECT
                1 AS favorite,
                music_id
            FROM
                t_user_favorite_music
            WHERE
                user_id = #{user.id}
        ) ufm ON ufm.music_id = a.musicId
        </if>
    </select>
</mapper>