<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.will.mapper.MusicMapper">

    <select id="listNewestMusic" resultType="Music">
        SELECT
          m.title,
          a.artist_name AS artist,
          ab.title AS album,
          m.duration
        FROM t_music m,t_artist a,t_album_music am,t_album ab
        WHERE m.artist_id = a.id AND am.music_id = m.id AND ab.id = am.album_id
        ORDER BY m.gmt_create DESC;
    </select>

    <select id="searchMusicByTitle" parameterType="String" resultType="Music">
        SELECT
          m.title,
          a.artist_name AS artist,
          ab.title AS album,
          m.duration
        FROM t_music m
        LEFT JOIN t_artist a ON a.id = m.artist_id
        LEFT JOIN t_album_music am ON am.music_id = m.id
        LEFT JOIN t_album ab ON ab.id = am.album_id
        WHERE m.title LIKE #{keyword}
        ORDER BY m.publish_time DESC LIMIT 20
    </select>

    <insert id="insertBatch">
        INSERT INTO t_music
        (id,title,artist_id,`language`,publish_time,lyric,play_times,duration,cover_img) VALUES
        <foreach collection="musics" item="music" separator=",">
            (#{music.id},#{music.title},#{music.artistId},#{music.language},#{music.publishTime},#{music.lyric},
            #{music.hot},#{music.duration},#{music.cover})
        </foreach>
    </insert>

    <insert id="insertBatchMusicAlbum">
        INSERT INTO t_album_music(album_id,music_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.albumId},#{item.musicId})
        </foreach>
    </insert>
</mapper>