<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.will.mapper.UserMapper">
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="User" useGeneratedKeys="true">
        INSERT INTO t_user(username, password) VALUES (#{username},#{password})
    </insert>

    <select id="selectByUsernameAndPassword" parameterType="User" resultType="User">
        SELECT
          u.id,
          u.username,
          u.balance,
          u.avatar_pic AS avatarPic
        FROM
        t_user u WHERE username=#{username} AND password = #{password}
    </select>

    <insert id="insertUserFavoriteMusic">
        INSERT INTO t_user_favorite_music(music_id,user_id) VALUES
        (#{musicId},#{user.id})
    </insert>

    <delete id="deleteUserFavoriteMusic">
        DELETE FROM t_user_favorite_music WHERE music_id= #{musicId} AND user_id = #{user.id}
    </delete>

    <select id="listFavoriteMusicByUser" resultType="MusicResultVO">
        SELECT
            1 AS favorite,
            ufm.music_id AS musicId,
            m.title AS title,
            m.duration,
            am.album_id AS albumId,
            ab.title AS album,
            a.artist_name AS artist,
            a.id AS artistId
        FROM
            t_user_favorite_music ufm
        LEFT JOIN t_music m ON m.id = ufm.music_id
        LEFT JOIN t_artist a ON a.id = m.artist_id
        LEFT JOIN t_album_music am ON ufm.music_id = am.music_id
        LEFT JOIN t_album ab ON ab.id = am.album_id
        WHERE
            ufm.user_id = #{user.id}
    </select>

    <insert id="insertPlaylist">
        INSERT INTO t_play_list(title,creator_id) VALUES (#{title},#{user.id})
    </insert>

    <select id="listUserCreatePlaylist" resultType="PlaylistVO">
      SELECT id,title FROM  t_play_list WHERE creator_id =#{user.id} ORDER BY gmt_create DESC
    </select>

    <select id="listUserFavoritePlaylist" resultType="PlaylistVO">
        SELECT
            pl.id,
            pl.title
        FROM
            t_user_favorite_play_list ufpl
        LEFT JOIN t_play_list pl ON pl.id = ufpl.play_list_id
        WHERE
            ufpl.user_id = #{user.id} ORDER BY ufpl.gmt_create DESC
    </select>
</mapper>